<%- include("partials/head") %>
<%- include("partials/header") %>

<main class="mainSignUp">
    <form action="/users/signUp" method="POST">
        <input type="text" name="firstName" placeholder="first name" required value="<%= !userData ? '' : userData.firstName %>">
        <%- include("partials/textValidationError", {inputName: "firstName"}) %>
        <input type="text" name="lastName" placeholder="last name" required value="<%= !userData ? '' : userData.lastName %>">
        <%- include("partials/textValidationError", {inputName: "lastName"}) %>
        <input type="email" name="eMail" placeholder="email" required value="<%= !userData ? '' : userData.eMail %>">
        <%- include("partials/textValidationError", {inputName: "eMail"}) %>
        <input type="password" name="password" placeholder="password" required>
        <%- include("partials/textValidationError", {inputName: "password"}) %>
        <input type="text" name="photoURL" placeholder="photo URL" required value="<%= !userData ? '' : userData.photoURL %>">
        <%- include("partials/textValidationError", {inputName: "photoURL"}) %>
        <p style="opacity: <%= error ? '1' : '0' %> ;"><%= error ? error : 'error' %></p>
        <input type="submit" value="Register">
    </form>
</main>

<%- include("partials/footer") %>