<%- include("partials/head") %>
<%- include("partials/header") %>

<main class="mainSignUp">
    <form action="/users/signUp" method="POST">
        <input type="text" name="firstName" id="firstName" required value="<%= !userData ? '' : userData.firstName %>">
        <input type="text" name="lastName" id="lastName" required value="<%= !userData ? '' : userData.lastName %>">
        <input type="email" name="eMail" id="eMail" required value="<%= !userData ? '' : userData.eMail %>">
        <input type="password" name="password" id="password" required>
        <input type="text" name="photoURL" id="photoURL" required value="<%= !userData ? '' : userData.photoURL %>">
        <input type="submit" value="Register">
    </form>
    <% console.log(error, userData) %>
</main>

<%- include("partials/footer") %>