<%- include("partials/head") %>
<%- include("partials/header") %>

<main class="mainSignIn">
    <form action="/users/signIn" method="POST">
        <input type="email" name="eMail" id="eMail" value="<%= !userData ? '' : userData.eMail %>">
        <input type="password" name="password" id="password" value="<%= !userData ? '' : userData.password %>">
        <input type="submit" value="Sign In">
        <input type="reset" value="Reset">
    </form>
    <% console.log(error) %>
</main>

<%- include("partials/footer") %>